{{define "title"}}Home{{end}} {{/* ************************************** */}}
{{define "main"}}
<h2>User: {{.Email}}</h2>
<p>First name: {{.FirstName}}</p>
<p>Middle name: {{.MiddleName}}</p>
<p>Last name: {{.LastName}}</p>
{{end}}
