{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - Base Go App </title>

    <!-- Link to the CSS stylesheet and favicon -->
    <link rel="stylesheet" href="/dist/main.css" />
    <script src="/dist/bundle.min.js"></script>
    <link
      rel="shortcut icon"
      href="/dist/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- Also link to some fonts hosted by Google -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
  </head>
  <body >
    <header>
      <h1><a href="/" >Base Go App</a></h1>
    </header>
    {{template "nav" .}}
    <main id="main">
    {{template "main" .}}
    </main>
    <footer>Powered by <a href="https://golang.org/">Go</a></footer>
  </body>
</html>
{{end}}
